.App {
  text-align: center;
}

/* header section css */

.header {
  height: 3rem;
  background-color: #fff;
  box-shadow: 0px 0px 4px #999;
  color: #777;
  /* margin-left: 18%; */
}

.left-items {
  float: left;
  padding: 1rem;
}

.right-items {
  float: right;
  padding: 1rem;
}